@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (ViewData["EmployeeName"] != null)
    {
        <p>Hello, @ViewData["EmployeeName"]!</p>
        <form asp-controller="Login" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Đăng xuất</button>
        </form>
    }
    
</div>
