@model QuanLyNhanSu.Models.EmployeesModel

@{
    ViewData["Title"] = "ĐĂNG KÝ NHÂN SỰ MỚI";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
        <form asp-action="DangKyNhanVien" class="row">
            <div class="form-group col-md-4">
                <label asp-for="first_name" class="control-label"></label>
                <input asp-for="first_name" class="form-control" />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="last_name" class="control-label"></label>
                <input asp-for="last_name" class="form-control" />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="date_of_birth" class="control-label"></label>
                <input asp-for="date_of_birth" class="form-control" type="date"/>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="gender"></label>
                <select asp-for="gender" class="form-control">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                    <option value="Khác">Khác</option>
                </select>

            </div>
            <div class="form-group col-md-4">
                <label asp-for="department_id" class="control-label"></label>
                <select asp-for="department_id" class="form-control" id="departmentSelect">
                    <option value="">Chọn phòng ban</option>
                </select>
                <span asp-validation-for="department_id" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="position" class="control-label"></label>
                <select id="positionSelect" name="position" class="form-control">
                    <option value="">Chọn Vị trí</option>
                </select>
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        loadDepartment();
        $('#departmentSelect').change(function () {
            var departmentId = $(this).val();

            if (departmentId) {
                $.ajax({
                    url: '@Url.Action("GetPositionsByDepartmentId", "Employees")',
                    type: 'GET',
                    data: { departmentId: departmentId },
                    success: function (response) {
                        // Reset the position dropdown
                        $('#positionSelect').empty();
                        $('#positionSelect').append('<option value="">Chọn Vị trí</option>');

                        // Add new positions to the dropdown
                        $.each(response, function (index, value) {
                            $('#positionSelect').append('<option value="' + value.text + '">' + value.text + '</option>');
                        });
                    },
                    error: function () {
                        alert('Lỗi khi tải dữ liệu vị trí.');
                    }
                });
            } else {
                // Reset dropdown if no department is selected
                $('#positionSelect').empty();
                $('#positionSelect').append('<option value="">Chọn Vị trí</option>');
            }
        });
    });
    function loadDepartment() {
        $.ajax({
            url: '@Url.Action("GetDepartments", "Employees")',
            type: 'GET',
            success: function (response) {
                // Reset the position dropdown
                $('#departmentSelect').empty();
                $('#departmentSelect').append('<option value="">Chọn phòng ban</option>');

                // Add new positions to the dropdown
                $.each(response, function (index, value) {
                    $('#departmentSelect').append('<option value="' + value.value + '">' + value.text + '</option>');
                });
            },
            error: function () {
                alert('Lỗi khi tải dữ liệu vị trí.');
            }
        });
    };
</script>
